## Data Science for Manufacturing - Weeks_1_and_2_Quiz

## 1. 

What is displayed when a Python cell in a notebook that contains several calculations is executed? For example, what happens when this cell is executed?

`7 * 3
 2 + 1`

In [5]:
7 * 3
2 + 1

3

It only carries out the last calculation

## 2. 

What type of value is 3.25 + 4?

Floating Point Number

## 3.

 What are the data types of the following variables?
 
`planet = 'Earth' 
 apples = 5
 distance = 10.5`

In [6]:
planet = 'Earth'
apples = 5
distance = 10.5

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
apples     int      5
distance   float    10.5
planet     str      Earth

## 4.

Note that return and print are not interchangeable. print is a Python function that prints data to the screen. It enables us, users, see the data. return statement, on the other hand, makes data visible to the program. Let’s have a look at the following function:

`def add(a, b):
    print(a + b)`

Question: What will we see if we execute the following commands?

`A = add(7, 3)
print(A)`

In [9]:
def add(a, b):
    print(a + b)

A = add(7, 3)
print(A)

10
None

In [10]:
def add(a, b):
    result = a + b
    return result

A = add(7, 3)
print(A)

10

## 5.

Use a for-loop to convert the string “hello” into a list of letters:

["h", "e", "l", "l", "o"]

Hint: You can create an empty list like this:

`my_list = []`

In [3]:
my_list = []

for char in 'hello':
    my_list.append(char)
print(my_list)

['h', 'e', 'l', 'l', 'o']

## 6.

Which of the following will return the floating point number 2.0? Note: there may be more than one right answer.

`first = 1.0
 second = "1"
 third = "1.1"`

  1.  first + float(second) Yes
  2.  float(second) + float(third) No
  3.   first + int(third)
  4.  first + int(float(third))
  5.  int(first) + int(float(third))
  6.  2.0 * second

In [75]:
first = 1.0
second = "1"
third = "1.1"

In [84]:
print((first)+float(second))

2.0

In [77]:
print(float(second)+float(third))

2.1

In [85]:
print((first)+int(second))

2.0

In [88]:
print((first)+int(float(second)))

2.0

In [91]:
print((int(first)+int(float(third))))

2

In [95]:
print(2.0*int(second))

2.0

## 7. 
Read the data in [`concrete.csv`](https://www.kaggle.com/vinayakshanawad/cement-manufacturing-concrete-dataset) into a variable called [concrete] and display its summary statistics indexed by age.

In [6]:
import pandas as pd

In [8]:
concrete = pd.read_csv('concrete.csv')

In [11]:
concrete = pd.read_csv('concrete.csv', index_col='age')
print(concrete)

        id  cement   slag  ash  water  superplastic  coarseagg  fineagg  \
age
3       A1   102.0  153.0  0.0  192.0           0.0      887.0    942.0
7       A2   102.0  153.0  0.0  192.0           0.0      887.0    942.0
28      A3   102.0  153.0  0.0  192.0           0.0      887.0    942.0
90      A4   102.0  153.0  0.0  192.0           0.0      887.0    942.0
3       A5   108.3  162.4  0.0  203.5           0.0      938.2    849.0
..     ...     ...    ...  ...    ...           ...        ...      ...
28   A1026   540.0    0.0  0.0  162.0           2.5     1040.0    676.0
28   A1027   540.0    0.0  0.0  173.0           0.0     1125.0    613.0
90   A1028   540.0    0.0  0.0  173.0           0.0     1125.0    613.0
180  A1029   540.0    0.0  0.0  173.0           0.0     1125.0    613.0
270  A1030   540.0    0.0  0.0  173.0           0.0     1125.0    613.0

     strength
age
3        4.57
7        7.68
28      17.28
90      25.46
3        2.33
..        ...
28      79.99
28      67.31
90      69.66
180     71.62
270     74.17

[1030 rows x 9 columns]

## 8. 
Assume Pandas has been imported into your notebook and the concrete data has been loaded:

`import pandas as pd
df = pd.read_csv('concrete.csv', index_col='id')`

Write an expression to find the `strength` of concrete for the product with ID 185.

In [13]:
df = pd.read_csv('concrete.csv', index_col='id')
print(df)

       cement   slag  ash  water  superplastic  coarseagg  fineagg  age  \
id
A1      102.0  153.0  0.0  192.0           0.0      887.0    942.0    3
A2      102.0  153.0  0.0  192.0           0.0      887.0    942.0    7
A3      102.0  153.0  0.0  192.0           0.0      887.0    942.0   28
A4      102.0  153.0  0.0  192.0           0.0      887.0    942.0   90
A5      108.3  162.4  0.0  203.5           0.0      938.2    849.0    3
...       ...    ...  ...    ...           ...        ...      ...  ...
A1026   540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28
A1027   540.0    0.0  0.0  173.0           0.0     1125.0    613.0   28
A1028   540.0    0.0  0.0  173.0           0.0     1125.0    613.0   90
A1029   540.0    0.0  0.0  173.0           0.0     1125.0    613.0  180
A1030   540.0    0.0  0.0  173.0           0.0     1125.0    613.0  270

       strength
id
A1         4.57
A2         7.68
A3        17.28
A4        25.46
A5         2.33
...         ...
A1026     79.99
A1027     67.31
A1028     69.66
A1029     71.62
A1030     74.17

[1030 rows x 9 columns]

In [14]:
print(df.loc["A185", "strength"])

7.4